@font-face {
    font-family: 'Arvo';
    src: url(../font/Arvo/Arvo-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url(../font/Arvo/Arvo-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'game';
    src: url(../font/04B_19__.TTF);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'game2';
    src: url(../font/04B_30__.TTF);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'game3';
    src: url(../font/upheavtt.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

html{
    height: 90%;
    min-height: 90%;
    margin: 0;
    padding: 0;
}

body{
    color: #000000;
    background-color: #FAEFED;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.filter{
    filter: none;
    transition: filter 0.25s ease;
    height: 100%;
    bottom: 0;
}

.filter.expanded{
    filter: blur(8px);
}

a{
    text-decoration: none;
    color: #000000;
}

.nav 
{
    font-family: 'game3';
    transition: left 0.5s ease;
    background-color: #000000;
    color: white;
    font-size: 1.7rem;
    height: 100vh;
    left: -17rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 17rem;
    z-index: 100;
}

.nav.expanded { left: 0; }

.nav ul {
    position: absolute;
    top: 50%;;
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    margin-top: 1rem;
}

.nav ul a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-toggle {
    user-select: none;
    cursor: pointer;
    height: 2rem;
    left: 2rem;
    position: fixed;
    top: 2rem;
    width: 3.6rem;
    z-index: 110;
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    background: #000000;
    content: '';
    height: 0.4rem;
    width: 100%;
}

.nav-toggle .nav-toggle-bar { margin-top: 0; }

.nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: #FFFFFF;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    transform: rotate(-45deg);
}

#navBar{
    color: #FFFFFF;
}

#mainTitle h1{
    width: auto;
    font-family: 'game3';
    font-size: 2.3em;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

footer p{
    text-align: center;
    font-weight: bold;
}