#classic-mod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#boite-classic{
    font-family: game2 ;
    display: flex;
    margin: 3%;
    justify-content: center;
    width: 50%;
}

.easy{
    width: 100%;
    background-color: #46A346;
    text-align: center;
    border-radius: 25px;
    font-size: 1rem;
    box-shadow: 0 .5em gray; 
    cursor: pointer;
}

.medium{
    width: 100%;
    background-color: #FEBC0C;
    text-align: center;
    border-radius: 25px;
    font-size: 1rem;
    box-shadow: 0 .5em gray; 
    cursor: pointer;
}

.hard{
    width: 100%;
    background-color: #FA5608;
    text-align: center;
    border-radius: 25px;
    font-size: 1rem;
    box-shadow: 0 .5em gray; 
    cursor: pointer;
}

.easy:active, .medium:active,.hard:active{
    box-shadow: none;
	position: relative;
	top: .3em;
}