a{
    width: auto;
}

.ligne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem auto;
}

#adventure, #classic, #maker{
    width: 30em;
    height: 8em;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 25px;
    box-shadow: 0 .3em gray; 
    cursor: pointer;
}

#adventure{
    background-color: #FA5608;
}

#classic{
    background-color: #7B39EB;
}

#maker{
    background-color: #FE017C;
}

#adventure h2, #classic h2, #maker h2{
    font-family: 'game2';
    font-size: 2em;
    width: 60%;
    margin: auto;
}



#adventure:hover,#classic:hover,#maker:hover{
	box-shadow: none;
	position: relative;
	top: .3em;
}

