	#mainTitle-easy h1{
    margin-bottom: 1%;
    display: flex;
    font-size: 2.3em;
    color: #000000;
    align-items: center;
    width: 50%;
    margin-left: 30%;
}

#info-mod-shuffle{
    display: flex;
    flex-direction: column-reverse;
}

#shuffle{
    /* border: 2px solid yellow; */
    margin-bottom: 1%;
    text-align: center;
    font-size: 1.5rem;
}

#mod{
    /* border: 2px solid white; */
    text-align: center;
    font-size: 2rem;
}

#ligne-jeu{
    display: flex;
}

#boite-pattern{
    /* border: 2px solid yellow; */
    width: 25%;
    margin-left: 1%;
}

#boite-jeu{
    /*border: 2px solid blue;*/
    width: 41%;
    margin-left: 5%;   
}

#petite-boite-jeu{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    padding-bottom: 2%;
    margin-top: 3%;
}

#save{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border: 2px solid white;
    margin-top: 35%;
}

#leaderboard{
    /*border: 2px solid pink;*/
    margin-left: 5%;
    width: 20%;
}

#petit-leaderboard{
    /* border: 2px solid red; */
    padding-bottom: 190%;
}

#timer{
    /* border: 2px solid purple; */
    width: 20%;
    margin-left: 40%;
    text-align: center;
}

#gameandwitness {
    display: flex;
}

.box {
    display: flex;  
    flex-wrap: wrap;
}
  
.child-box-game {
    border :  solid black;
    width  : 4em;
    height : 4em;
}

#wrapper-witness{
    margin-top: 30%;
}

.child-box-witness{
    border :  solid black;
    width  : 3em;
    height : 3em;
}

#buttons_left, #buttons_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#buttons_up, #buttons_down{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 15%;
}

#popup{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 75%;
    height: 75%;
    left: 10em;
    right: 10em;
    margin: auto;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 25px;
    filter: none;
    opacity: 0;
    z-index: 1000;
}

.half-box1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 50%;
}

.half-box1 h2{
    font-family: 'game2';
    font-size: 2rem;
}

.half-box2{
    border: 1px solid red;
    height: 50%;
}

.half-half-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    height: 50%;
}

.half-half-box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
    height: 50%;
}

.half-half-half{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-half-box2 .text{
    width: 75%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
}

.half-half-box2 p{
    font-size: 1.2rem;
    font-weight: bold;
}