.btn h2{
    font-size: 1.5em;
    margin: auto 0;
    text-align: center;
    color: #000000;
}

.btn{
    
    border-radius: 6px;
    height: 6rem;
    width: 50%;
    min-width: 20rem;
    margin: auto;
}

#playBlock{
    height: 100%;
    width: 100%;
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
}

#playBlock::before{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    color: #000000;
    display: block;
    transition: all 0.5s ease;
    position: absolute;
    background: var(--check-before, #323237);
    content: attr(data-play); 
    transform: translateY(-50%) rotateX(90deg);
    border: 3px solid #000000;
    border-radius: 6px;
}

#playBlock::after{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    color: #000000;
    display: block;
    transition: all 0.5s ease;
    position: absolute;
    background: var(--check-after,#FFFFFF);
    content: attr(data-play);
    transform: translateY(0) rotateX(0);
    border: 3px solid #000000;
    border-radius: 6px;
}

#playBlock:hover::before{
    opacity: 1;
    transform: translateY(0) rotateX(0);
    transition: all 0.5s ease;
}

#playBlock:hover::after{
    opacity: 0.8;
    transform: translateY(50%) rotateX(90deg);
    transition: all 0.5s ease;
}

#instructionBlock{
    display: flex;
    justify-content: center;
    
    margin: 5.5rem auto 5.5rem ;
    height: 6rem;
    width: 50%;
    min-width: 20rem;
    border-radius: 6px;
    position: relative;
    transition: all 0.5s;
    border: none;
}
#instructionBlock:hover{
    border: none;
}

#instructionBlock::before{
    content: '';
    position: absolute;
    top: -1;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,0,0,0.8);
    border-radius: 6px;
    transition: all 0.5s;
    transform: scale(1,1);
}
#instructionBlock:hover::before{
    opacity: 0;
    transform: scale(0.2,0.2);
}

#instructionBlock::after{
    content: '';
    position: absolute;
    top: -1;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
    border: 3px solid rgba(255,0,0,1);
    border-radius: 6px;
    transform: scale(1,1);
}
#instructionBlock:hover::after{
    opacity: 1;
    transform: scale(0.7,0.7);
}

.dg-rm-more {display: none; } 

.dg-rm-dots:after { display:inline-block;}

.blockRegle{
    border: 3px solid black;
    width: 35%;
    height: 20rem;
    margin: 10rem auto 1rem;
}