#playInstructionBlock{
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn h2{
    font-size: 1.5em;
    margin: auto 0;
    text-align: center;
    color: #000000;
}

.btn{
    
    border-radius: 6px;
    height: 6rem;
    width: 50%;
    min-width: 20rem;
    margin: auto;
}

#playBlock{
    height: 100%;
    width: 100%;
    opacity: 1;
    outline: 0;
    
    position: relative;
    text-align: center;

    display: inline-block;
    text-decoration: none;
}

#playBlock::before{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #000000;
    display: block;
    transition: all 0.5s ease;
    position: absolute;
    background: var(--check-before, #FFFFFF);
    content: attr(data-text);
    font-family: 'game2';
    font-size: 2em;

    transform: translateY(-50%) rotateX(90deg);
    border: 3px solid #000000;
    border-radius: 6px;
}

#playBlock::after{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #000000;
    display: block;
    transition: all 0.5s ease;
    position: absolute;
    background: var(--check-after,#FFFFFF);
    content: attr(data-after);
    font-family: 'game2';
    font-size: 2em;
    
    transform: translateY(0) rotateX(0);
    border: 3px solid #000000;
    border-radius: 6px;
}

#playBlock:hover::before{
    transform: translateY(0) rotateX(0);
    transition: all 0.5s ease;
}

#playBlock:hover::after{
    transform: translateY(50%) rotateX(90deg);
    transition: all 0.5s ease;
}

#instructionBlock{
    height: 100%;
    width: 100%;
    opacity: 1;
    outline: 0;
    
    position: relative;
    text-align: center;
    
    display: inline-block;
    text-decoration: none;
}

#instructionBlock::before{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #000000;
    display: block;
    transition: all 0.5s ease;
    position: absolute;
    background: var(--check-before, #FFFFFF);
    content: attr(data-before);
    font-family: 'game2';
    font-size: 2em;
    
    transform: translateY(0) rotateX(0);
    border: 3px solid #000000;
    border-radius: 6px;
}

#instructionBlock::after{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #000000;
    display: block;
    transition: all 0.5s ease;
    position: absolute;
    background: var(--check-after,#FFFFFF);
    content: attr(data-text);
    font-family: 'game2';
    font-size: 2em;
    
    transform: translateY(50%) rotateX(90deg);
    border: 3px solid #000000;
    border-radius: 6px;
}

#instructionBlock:hover::before{
    transform: translateY(-50%) rotateX(-90deg);
    transition: all 0.5s ease;
}

#instructionBlock:hover::after{
    transform: translateY(0) rotateX(0);
    transition: all 0.5s ease;
}

.dg-rm-more {display: none; } 

.dg-rm-dots:after { display:inline-block;}

.blockRegle{
    border: 3px solid black;
    width: 35%;
    height: 20rem;
    margin: 10rem auto 1rem;
}