@font-face {
    font-family: 'Arvo';
    src: url(font/Arvo/Arvo-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url(font/Arvo/Arvo-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Arvo';
    color: #000000;
    background-color: #FFFFFF;
}

html{
    height: 100%;
}

.filter{
    filter: none;
    transition: filter 0.25s ease;
}

.filter.expanded{
    filter: blur(8px);
}

a{
    text-decoration: none;
    color: #000000;
}

.nav 
{
    transition: left 0.5s ease;
    background-color: #000000;
    color: white;
    font-size: 2rem;
    height: 100vh;
    left: -17rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 17rem;
    z-index: 100;
}

.nav.expanded { left: 0; }

.nav ul {
    position: absolute;
    top: 50%;;
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    margin-top: 1rem;
}

.nav ul a{
    color: #FFFFFF;
}

.nav-toggle {
    user-select: none;
    cursor: pointer;
    height: 2rem;
    left: 2rem;
    position: fixed;
    top: 2rem;
    width: 3.6rem;
    z-index: 110;
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    background: #000000;
    content: '';
    height: 0.4rem;
    width: 100%;
}

.nav-toggle .nav-toggle-bar { margin-top: 0; }

.nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: #FFFFFF;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    transform: rotate(-45deg);
}

#navBar{
    color: #FFFFFF;
}

header{
    display: flex;
    justify-content: center;
}

#mainTitle h1{
    font-size: 2.3em;
    color: #000000;
    text-align: center;
    border: 2px solid red;
}

#playBlock, #instructionBlock{
    display: flex;
    justify-content: center;
    margin: 5.5rem auto 5.5rem ;
    border: 3px solid black;
    height: 6rem;
    width: 50%;
    min-width: 20rem;
}

#playBlock:hover{
    background: linear-gradient(to right, #009B48 16%, #B90000 16%, #B90000 32%, #0045AD 32%, #0045AD 48%, #FF5900 48%, #FF5900 64%, #FFFFFF 64%, #FFFFFF 80%,#FFD500 80%);
    transition: background 1.5s ease;
}

#playBlock h2, #instructionBlock h2{
    font-size: 1.5em;
    margin: auto 0;
    text-align: center;
    color: #000000;
}

/*#dg-rm-more-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}*/

.dg-rm-more {display: none; } 
/*.dg-rm-more:active{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}*/
.dg-rm-dots:after { display:inline-block;}

.blockRegle{
    border: 3px solid black;
    width: 35%;
    height: 20rem;
    margin: 10rem auto 1rem;
}

/*Page de choix*/
#main-choix a{
    color: black;
}

#page-choix{
    margin: 0;
    height: 100%;
}

#mainTitle-choice h1{
    font-size: 2.3em;
    color: #000000;
    text-align: center;
    margin-bottom: 30%;
}

#ligne1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adventure{
    border: 2px solid red;
    width: 30%;
    text-align: center;
    padding: 5%;
}

.classic{
    border: 2px solid blue;
    width: 30%;
    text-align: center;
    padding: 5%;
}

#ligne2{
    margin: auto;
    margin-top: 5%;
    border: 2px solid green;
    width: 30%;
    text-align: center;
    padding: 5%;
    margin-bottom: 5%;
}


footer p{
    text-align: center;
    font-weight: bold;  
}

/*Page Classic Mode*/
#classic-mod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#boite-classic{
    display: flex;
    border: 2px solid black;
    margin: 3%;
    justify-content: center;
    width: 50%;
}

/*page classic mod*/
#mainTitle-easy{
    margin-bottom: 1%;
}

#info-mod-shuffle{
    display: flex;
    flex-direction: column-reverse;
}

#shuffle{
    border: 2px solid yellow;
    text-align: center;
    font-size: 1.5rem;
}

#mod{
    border: 2px solid white;
    text-align: center;
    font-size: 2rem;
}

#ligne-jeu{
    display: flex;
    margin-top: 0;
}

#boite-pattern{
    border: 2px solid yellow;
    width: 25%;
}

#petite-boite-pattern{
    margin-top: 25%;
    border: 2px solid blue;
    padding-bottom: 100%;
}

#boite-jeu{
    /*border: 2px solid blue;*/
    width: 41%;
    margin-left: 5%;   
}

#petite-boite-jeu{
    border: 2px solid yellow;
    padding-bottom: 40%;
    margin-top: 10%;
}

#save{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border: 2px solid white;
    margin-top: 35%;
}

#leaderboard{
    /*border: 2px solid pink;*/
    margin-left: 5%;
    width: 20%;
}

#petit-leaderboard{
    border: 2px solid red;
    padding-bottom: 190%;
}

#timer{
    margin-top: 1%;
    border: 2px solid purple;
    width: 20%;
    margin-left: 40%;
    text-align: center;
}

/*Page Maker*/
.skin_barre  /* on reprend le nom qu'on a mis dans 'class=' */
{
	width:30px;
	height:300px;
	/* on définit la taille du div (celle de l'image) */

	top:20px;
	left:23px;
	/* et sa position initiale */

	position:absolute;
	/* le div n'est plus fixe mais libre */

	background-image:url('img/degrade.jpg');
	/* on définit ici l'image à afficher dans le div */

	cursor:s-resize;
	/* et enfin on définit le curseur à afficher lorsque la souris passe sur ce div */
}

/* =====  de même pour les autres  ===== */

.skin_curseur1
{
	width:45px;
	height:15px;
	position:absolute;
	top:12px;
	left:15px;
	cursor:s-resize;
	background-image:url('img/curseur1.png');
}

.skin_carre
{
	width:300px;
	height:300px;
	position:absolute;
	top:20px;left:60px;
	cursor:move;
	background-color:red;  /* on définit la couleur initiale du carré */
	background-image:url('img/degrade\_n-b.png');
}

.skin_curseur2
{
	width:20px;
	height:20px;
	position:absolute;
	top:10px;
	left:350px;
	cursor:move;
	background-image:url('img/curseur2.png');
}

.skin_resultat
{
    color: white;
	position:absolute;
	top:330px;
	left:60px;
	border:1px solid black; /* dessine un cadre noir autour du 'input' et d'un pixel d'épaisseur */
	background-color:white;
	text-align:center;  /* on aligne le texte au centre */
}

.skin_bouton_OK
{

	position:absolute;
	top:330px;
	left:220px;
}

#maker-boite{
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin-left: 20%;
    width: 60%;
}

#color{
    border: 2px solid Green;
    margin-left: 5%;
    width: 10%;
}

#boite-palette{
    margin-left: 5%;
    margin-bottom: 25%;
    margin-top: 30%;
}

#ligne-color{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20%;
}

#color1{
    border: 2px solid red;
    padding: 8%;
    width: 5%;
}

#color2{
    border: 2px solid purple;
    padding: 8%;
    width: 5%;
}

#color3{
    border: 2px solid orange;
    padding: 8%;
    width: 5%;
}

#color4{
    border: 2px solid blue;
    padding: 8%;
    width: 5%;
}

#color5{
    border: 2px solid green;
    padding: 8%;
    width: 5%;
}

#color6{
    border: 2px solid yellow;
    padding: 8%;
    width: 5%;
}

#color7{
    border: 2px solid black;
    padding: 8%;
    width: 5%;
}

#color8{
    border: 2px solid white;
    padding: 8%;
    width: 5%;
}

#color9{
    border: 2px solid pink;
    padding: 8%;
    width: 5%;
}

#color10{
    border: 2px solid brown;
    padding: 8%;
    width: 5%;
}

#boite-jeu-maker{
    border: 2px solid blue;
    width: 60%;
    margin-left: 15%;  
    margin-right: 6%;
}

#petite-boite-jeu-maker{
    border: 2px solid yellow;
    padding-bottom: 40%;
    margin-top: 10%;
}

#confirm{
    margin-top: 1%;
    border: 2px solid purple;
    width: 20%;
    margin-left: 50%;
    text-align: center;
}