#mainTitle-easy h1{
    margin-bottom: 1%;
    display: flex;
    font-size: 2.3em;
    color: #000000;
    align-items: center;
    width: 50%;
    margin-left: 30%;
}

#info-mod-shuffle{
    display: flex;
    flex-direction: column-reverse;
}

#shuffle{
    /* border: 2px solid yellow; */
    margin-bottom: 1%;
    text-align: center;
    font-size: 1.5rem;
}

#mod{
    /* border: 2px solid white; */
    text-align: center;
    font-size: 2rem;
}

#ligne-jeu{
    display: flex;
}

#boite-pattern{
    /* border: 2px solid yellow; */
    width: 25%;
    margin-left: 1%;
}

#boite-jeu{
    /*border: 2px solid blue;*/
    width: 41%;
    margin-left: 8%;  
    margin-top: 3%; 
}

#petite-boite-jeu{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    padding-bottom: 2%;
    margin-top: 3%;
}

#save{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border: 2px solid white;
    margin-top: 35%;
}

#leaderboard{
    /*border: 2px solid pink;*/
    margin-left: 5%;
    width: 20%;
}

#petit-leaderboard{
    /* border: 2px solid red; */
    padding-bottom: 190%;
}

#timer{
    margin-bottom: 5%;
}

#gameandwitness {
    display: flex;
}

.box {
    display: flex;  
    flex-wrap: wrap;
}
  
.child-box-game {
    border :  solid black;
    width  : 3.5em;
    height : 3.5em;
}

#wrapper-witness{
    margin-top: 40%;
}

.child-box-witness{
    border :  solid black;
    width  : 2.5em;
    height : 2.5em;
}

#buttons_left, #buttons_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#buttons_left{
    margin-right: 5%;
}

#buttons_up, #buttons_down{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 15%;
}