#classic-mod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.3em;
    border-radius: 25px;
    box-shadow: 0 .5em gray;
    width: 30em;
    height: 10em;
    
}

.box h2{
    font-family: 'game2';
    font-size: 2rem;
    text-align: center;
}

#easy{
    background-color: #46A346;
}

#medium{
    background-color: #FEBC0C;
}

#hard{
    background-color: #FA5608;
}

.box:hover{
    box-shadow: none;
	position: relative;
	top: .3em;
} 