#ligne-jeu{
    display: flex;
    margin-top: 0;
}



#color{
    /* border: 2px solid Green; */
    margin-left: 5%;
    width: 10%;
}

#boite-palette{
    margin-left: 15%;
    margin-bottom: 25%;
    margin-top: 30%;
}

#palette{
	border: 2px solid black;
	margin-bottom: 20%;
	padding: 13%;
	width: 10%;
    margin-left: 35%;
}

#color-palette{
    margin-right: 20%;
    display: none;
}

.ligne-color{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20%;
}


.color{
    border: 2px solid;
    padding: 13%;
    width: 10%;
}

#boite-jeu-maker{
    /* border: 2px solid blue; */
    width: 40%;
    margin-left: 20%;
}

.petite-boite-jeu-maker{
    /* border: 2px solid yellow; */
    padding-bottom: 40%;
    margin-top: 10%;
}

#confirm{
    margin-top: 1%;
    border: 2px solid black;
    width: 20%;
    margin-left: 43%;
    text-align: center;
}

/*Page JS */
#gameandwitness {
    display: flex;
}

.box {
    display: flex;  
    flex-wrap: wrap;
}
  
.child-box-game {
    border :  solid black;

}
